::ng-deep * {
  margin: 0;
  padding: 0;
}

//  header 
.header {
  background-color: rgba(73, 73, 73, 0.904);
  height: 70px;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo h2 {
  font-weight: normal;
}

.nameUser {
  height: 40px;
  outline: none;
  border: none;
  font-size: 1.1em;
  padding: 10px;
  margin-top: -2px;
  background-color: rgb(230, 168, 53);
  border: 3px solid rgb(230, 168, 53);

}

.signIn,
.signUp,
.addPost,
.signOut {
  height: 40px;
  outline: none;
  border: 3px solid rgb(30, 139, 30);
  border-radius: 0.3em;
  font-size: 1.1em;
  color: rgb(30, 139, 30);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.signIn:hover,
.addPost:hover {
  background-color: rgb(30, 139, 30);
  color: white;
}

.addPost {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

.signUp {
  border: 3px solid rgb(16, 85, 214);
  color: rgb(16, 85, 214);
}

.signUp:hover {
  background-color: rgb(16, 85, 214);
  color: white;
}

.signOut {
  border: 3px solid rgb(230, 168, 53);
  color: rgb(230, 168, 53);
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.signOut:hover {
  background-color: rgb(230, 168, 53);
  color: black;
}

// Post info 
.blogInfo {
  width: 85%;
  margin: 10px auto;
  border-radius: 0.3em;
  border: 2px solid rgb(221, 221, 221);
  font-family: sans-serif;
  padding: 20px;
}

.name {
  font-size: 1.5em;
  font-weight: 550;
}

.info {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.author {
  margin: 7px 0;
  color: gray;
  font-size: 1.1em;
  font-weight: 550;
}

.fa-clock {
  margin-right: 5px;
}

.description {
  font-size: 1.2em;
}

.btnBlog {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.edit,
.delete {
  margin-left: 0;
  color: black;
  background-color: orange;
  border: none;
  width: 60px;
  height: 35px;

}

.edit {
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
}

.delete {
  color: white;
  background-color: rgb(235, 19, 19);
  border-bottom-right-radius: .3em;
  border-top-right-radius: .3em;
}

.edit:hover {
  background-color: rgb(240, 158, 6);
}

.delete:hover {
  background-color: rgb(196, 0, 0);
}

//  Modal form for sign up and sign in user
.logUser {
  color: rgb(202, 47, 47);
  font-size: 1.2em;
  margin: 15px auto;
}

input {
  width: 81.7%;
  height: 37px;
  border-radius: 0.3em;
  outline: none;
  border: 2px solid rgb(221, 221, 221);
  margin: 15px 10px 20px 0;
  font-size: 1em;
  padding-left: 15px;
}

.submitIn,
.submitUp,
.close,
.post {
  width: 15%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0.3em;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  margin: 20px 10px;
  background-color: rgba(21, 124, 21, 0.856);
}

.submitIn:hover {
  background-color: rgba(16, 100, 16, 0.856);
}

.submitUp {
  background-color: rgba(35, 120, 231, 0.959);
}

.post:hover {
  background-color: rgba(16, 95, 16, 0.856);
}

.submitUp:hover {
  background-color: rgba(27, 94, 182, 0.959);
}

.close {
  background-color: rgb(110, 110, 110);
}

.close:hover {
  background-color: rgb(82, 82, 82);
}

label {
  color: rgb(46, 46, 46);
  font-size: 1.2em;
  margin: 20px 40px 0;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px lightskyblue;
  border: 2px solid lightskyblue;
}

.modalSignIn,
.modalSignUp,
.modalAddPost {
  position: absolute;
  top: 50px;
  left: 450px;
  border: 1px solid rgba(0, 0, 0, 0.829);
  border-radius: .2em;
  background-color: #fff;
  width: 40%;
  overflow: auto;
  font-family: sans-serif;
  z-index: 10;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.808);
  border-bottom: 2px solid rgb(221, 221, 221);
}

i {
  color: gray;
  font-size: 1.2em;
}

.wrapp-body {
  display: flex;
  flex-direction: column;
}

.wrapp-body input {
  margin: 10px 0 10px 35px;
  width: 85%;
  color: rgba(48, 47, 47, 0.932);
}

.wrapp-bottom {
  border-top: 2px solid rgb(221, 221, 221);
  margin-top: 20px;
  display: flex;
  justify-content: end;
  height: 80px;
}

textarea {
  width: 84%;
  height: 100px;
  border-radius: 0.3em;
  outline: none;
  border: 2px solid rgb(221, 221, 221);
  margin: 15px 10px 20px 40px;
  font-size: 1.4em;
  padding: 10px 0 0 15px;
}

.grayBlock {
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.527);
  position: fixed;
  top: 0;
}
